* {
    box-sizing: border-box;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.board{
    position: relative;
    width: 800px;
    margin: 0 auto;
    
    
}
.board-cells{
    
    position: absolute;
    background: lightgray;
    top: 0px;
    
}

.board-walls.horizontal{
    position: absolute;
    top:60px
}
.board-walls.vertical{
    position: absolute;
    top:0px
}

.cell {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    background: rgb(75, 173, 230);
    border: 2px solid black;
    margin-right: 20px;
    margin-bottom: 20px;
}

.cell.free {
    cursor: pointer;
}

.cell-row {
    display: flex;
}

.wall {
    position: relative;
    background: rgb(230, 75, 83);
    border: 1px solid black;
}

.wall.horizontal {
   
    width: 60px;
    height: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.wall.vertical {
    width: 20px;
    height: 60px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.wall.free {
    cursor: pointer;
}

.wall-row.horizontal {
    display: flex;
    margin-bottom: 40px;
}
.wall-row.vertical {
    display: flex;
}



.modal {
    position: fixed;
    top: 300px;
    background: white;
    border: 2px solid lightgray;
    border-radius: 4px;
    padding: 20px;
    width: 400px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 4px 14px;
    background: darkgrey;
    cursor: pointer;
}

.btn.primary {
    background: red;
}

.controls {
    margin: 20px 0 0;
}

.controls .btn:not(:last-of-type) {
    margin-right: 20px;
}

.player-mark {
    width: 40px;
    height: 40px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    margin: 0px 0px 20px 20px;
}

.player-mark.player-1 {
    background: green;
}
